
.ship_table,.y_table {
	font-style:normal;
	 color: #333;
	border-collapse: collapse;
    border-spacing: 0;
	height:auto;
}
.ship_table th {
    background: #d9d9ff none repeat scroll 0 0;
    border: 1px solid #000;
    font-style: normal;
    font-weight: 100;
    padding: 5px 10px;
    text-align: left;
}