li span{font-weight:normal;}
        #loading
        {
            top: 0px;
            right: 0px;
        }
        .tooltip
        {
            padding-bottom: 25px;
            padding-left: 25px;
            width: 160px;
            padding-right: 25px;
            display: none;
            background: url(images/black_arrow.png);
            height: 70px;
            color: #fff;
            font-size: 12px;
            padding-top: 25px;
            z-order: 100;
        }
        
        .time_price  .caltable td{height:auto; overflow:hidden}
       .time_pric .monthbg{line-height:1325px}
       .time_price  .nodate{background: rgba(255, 255, 255, 0.5);}
       .time_price  .today, .time_price .calmonth .caldate:hover{background:#F9FAFB}
    .time_price  .today{box-shadow:none}
    .time_price  .today .calday{color:#B1D5F8;}
    .time_price  .calday{color:#B1D5F8; font-style:italic; font-size:16px;}
    .time_price  .today:hover .calday{color:#B1D5F8;}
    .time_price  .fill_data{color:#000; padding:10px 0 0 10px;}
    .time_price   .cal_cc1{color:#F90;text-align:right;float:right;right: 5px;}
    .time_price   .cal_cc2{color:#6C3;text-align:right;float:right;right: 5px;}
    .time_price   .cal_cc3{color:#FF0000;text-align:right;float:right;right: 5px;}
    .time_price .fc-day-number {color: #b1d5f8;font-size: 16px;font-style: italic;font-weight: bold;
    float:left; 
    position: absolute;
   }
   .c8 {color: black;}
   .c9 {color: #ff0066;}
   .c11{color: #0000FF;}
   .fill_data li{
   	font-weight:normal;
   }