@charset "utf-8";
/* CSS Document */

.p_center{margin-bottom:15px;}
table {
    color: #333;
	border-collapse: collapse;
    border-spacing: 0;
	height:auto;
	border-color:#7BB7F2;
}
.p_tables {
	font-style:normal;
	border-color:#7BB7F2;
}
.p_tables th{
	background: #D9D9FF  none repeat scroll 0 0;
	border: 1px  solid #000;
	padding: 5px 10px;
	text-align:left;
	font-style:normal;
	font-weight:100;
	border-color:#7BB7F2;
    
}
 .table_centers{
	font-size:13px;
	margin:25px 14px 25px 14px;
}

.table_centers dt{
	 border-color:#7BB7F2;
}

.table_centers th{
	background:#FFF none repeat scroll 0 0;
    font-style: normal;
    font-weight: 400;
	padding: 5px 10px;
	text-align: center;
	border-color:#7BB7F2;
}
.table_centers td {
    text-align: center;
    border-color:#7BB7F2;
}
.saleprice{
	color:#009F00}
.reprice{
	color:#0000B5}
.fenprice{
	color:#FF2D2D}	
.jsprice{
	color:#00BD00}	
.price{
	color:#0000F0}	
.set_distprices{
	padding:5px;}	
.set_distprices ul,.set_price_stock{
	list-style-type: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	}	
.set_distprices ul li,.set_price_stock dd{
	padding:6px;}
.TNT_SELL_PRICE_RATE_PRICE{
	margin-left:50px;}	
.button {
    border: medium none;
    display: block;
	background: rgba(0, 0, 0, 0) url("bg.gif") repeat-x scroll -101px 0;
    color: #fff;
    cursor: pointer;
    font-family: Microsoft YaHei;
    font-size: 13px;
    height: 27px;
    line-height: 22px;
    text-align: center;
    text-indent: 0;
    width: 95px;
}
a:link {
    color: #15428b;
    text-decoration: none;
	font-family: ����;
    font-size: 12px;
}	
	
	
	
	