<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--百度抓取-->
    <meta name="baidu-site-verification" content="Zh0SDaTVsU" />
    <link rel="icon" type="image/x-icon" href="/img/favicon2.ico" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="../js/miracle/vue.js"></script>
    <script src="../js/miracle/axios.min.js"></script>
    <script src="../js/miracle/vue-resource.js"></script>
    <!-- 引入组件库 -->
    <script src="../js/miracle/index.js"></script>
    <title>首页</title>
</head>
<body>
    <div id="app">
        <el-collapse v-model="activeNames" style="max-width: 50%;">
            <h1>个人开发经验分享，正在施工中，请期待后续哦~</h1>
            <el-collapse-item title="一致性 Consistency" name="1">
                <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
                <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
            </el-collapse-item>
            <el-collapse-item title="反馈 Feedback" name="2">
                <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
                <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
            </el-collapse-item>
            <el-collapse-item title="效率 Efficiency" name="3">
                <div>简化流程：设计简洁直观的操作流程；</div>
                <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
            </el-collapse-item>
            <el-collapse-item title="可控 Controllability" name="4">
                <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
            </el-collapse-item>
        </el-collapse>
        <el-button type="primary" @click="dialogVisible = true">喵~</el-button>
        <el-dialog
                title="喵说"
                :visible.sync="dialogVisible"
                width="30%"
                :before-close="handleClose">
            <span>博客施工中，敬请期待~</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
            </span>
        </el-dialog>
        <el-input v-model="result" placeholder="请输入内容"></el-input>
        <template>
            <el-table
                    :data="tableData"
                    style="width: 100%">
                <el-table-column
                        prop="id"
                        label="id"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="key"
                        label="key"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="value"
                        label="value">
                </el-table-column>
                <el-table-column
                        prop="valid"
                        label="valid">
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="createTime">
                </el-table-column>
                <el-table-column
                        prop="updateTime"
                        label="updateTime">
                </el-table-column>
            </el-table>
        </template>
    </div>
</body>
<script src="../js/miracle/main.js"></script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</html>